*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #243e32;
}
.greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #43C6AC 0%, #191654 100%);
    border: none;
    margin-bottom: 100px;
}
.boxes-container{
    max-width: 800px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    gap:5px;
    margin: auto;
    
}
.box{
    background-color: aliceblue;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 85px;
    height: 85px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 8px;
}
.form-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:10px;
}
#nameInput{
    width: 150px;
    height: 40px;
    border-radius: 8px;
}
#greetBtn{
    background: linear-gradient(135deg, #43C6AC 0%, #191654 100%);
    color: white;
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    transition: all 0.3s ease;
}
#greetBtn:hover{
transform: translateY(-3px);
}
.box:hover{
    transform: translateY(-3px);
}

@media(max-width=786px){
    .greeting{
        margin-bottom: 40px;
        font-size: 22px;
    }
    .boxes-container{
        margin-left: 20px;
        margin-right: 20px;
        justify-content: center;
        gap:10px;
    }
    .box{
        width: 50px;
        height: 50px;
        font-size: 12px;
    }
    #nameInput{
        width: 100%;
        max-width: 250px;
    }
    #greetBtn{
        width: 100px;
    }
}
